<!-- item-button.hbs -->
{{#if item_price}}<div class="item-cta-price" title="{{t "Price"}}: {{item_price}} {{t "Israeli Shekel"}}">{{t "Price"}}: {{item_price}}&#8362;</div>
<div class="item-cta-button"><button class="snipcart-add-item transition-this" data-item-id="{{id}}" data-item-url="{{url absolute='true'}}" data-item-name="{{title}}" data-item-image="{{feature_image}}" data-item-description="{{#if custom_excerpt}}{{custom_excerpt}}{{else}}{{title}}{{/if}}" data-item-price="{{item_price}}" title="{{t "Add to cart"}}">{{t "Add to cart"}}</button></div>{{/if}}