<!-- post-pagination.hbs -->
<nav class="zawake-post-pagination flex row nowrap align-content-center justify-content-center align-items-center">
    {{#prev_post}}<div>
        {{#if feature_image}}<figure title="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"><img src="{{img_url feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" class="zawake-post-pagination-img fixed-img" /></figure>{{/if}}
        <div><span class="zawake-post-pagination-label">{{t "Previous"}}&colon;</span><a class="newer-posts" href="{{url}}" title="{{title}}" target="_self">{{title}}</a></div>
    </div>{{/prev_post}}
    {{#next_post}}<div>
        {{#if feature_image}}<figure title="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"><img src="{{img_url feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" class="zawake-post-pagination-img fixed-img" /></figure>{{/if}}
        <div><span class="zawake-post-pagination-label">{{t "Next"}}&colon;</span><a class="older-posts" href="{{url}}" title="{{title}}" target="_self">{{title}}</a></div>
    </div>{{/next_post}}
</nav>