<!-- post-card.hbs -->
<div>{{title}}</div>
<div>{{slug}}</div>
<div>{{excerpt}}</div>
<div>{{content}}</div>
<div>{{img_url}}</div>
<div>{{url}}</div>
<div>{{feature_image}}</div>
<div>{{feature_image_alt}}</div>
<div>{{feature_image_caption}}</div>
{{#if featured}}<div>Yes, featured.</div>{{/if}}
{{#if page}}<div>Yes, page.</div>{{/if}}
<div>{{post_class}}</div>
<div>{{authors}}</div>
<div>{{primary_author}}</div>
<div>{{tags}}</div>
<div>{{primary_tag}}</div>