<!-- zawake-footer-icons.hbs -->
{{#if heading}}<li><h3 title="{{t heading}}">{{t heading}}&colon;</h3></li>{{/if}}
<li><a href="#" title="" target="_self">{{> "icons/sun-face"}}</a></li>
<li><a href="#" title="" target="_self">{{> "icons/moon-face"}}</a></li>
<li><a href="#content" title="{{> 'icons/backhand-top'}}&nbsp;{{t 'Back to top'}}" target="_self">{{> "icons/backhand-top"}}</a></li>
<li><a href="#" title="" target="_self">{{> "icons/cross-mark"}}</a></li>
<li><a href="#" title="{{> 'icons/document-with-text'}}&nbsp;{{t 'Save document'}}" target="_blank" download="file.txt" id="link">{{> "icons/document-with-text"}}</a></li>
<li><a href="{{@site.url}}" title="{{> 'icons/copyright'}}&nbsp;{{t 'Copyright'}}" target="_self">{{> "icons/copyright"}}</a></li>
<li title="{{> 'icons/construction'}}&nbsp;{{t 'Under construction'}}">{{> "icons/construction"}}</li>