<!-- zawake-footer.hbs -->
<header class="zawake-footer-heading flex row nowrap align-content-center justify-content-center align-items-center">
    <h3>{{heading}}</h3>
    <nav>{{navigation type="secondary"}}</nav>
</header>
<section class="zawake-footer-login flex row nowrap align-content-center justify-content-center align-items-center">{{> "login" heading="Portal links"}}</section>
<footer>
    <menu class="zawake-footer-icons flex row nowrap align-content-center justify-content-center align-items-center">{{> "zawake-footer-icons" heading="Beautiful life"}}</menu>
    <div>{{{t "With"}}}<span title="{{{t 'a lot of love'}}}">{{> "icons/heart-on-fire"}}</span>{{{t "from"}}}<span title="{{t 'Occupied Falastin'}}">{{> "icons/occupied-falastin"}}</span><span title="{{{t 'and'}}}">{{{t "and"}}}</span><span title="{{t 'United Kingdom'}}">{{> "icons/united-kingdom"}}</span>&period;</div>
</footer>