{{!< default}}
<!-- home.hbs -->
{{#is "home"}}
<header class="sign-{{post_class}}"><h1>{{title}}</h1></header>
<section class="shelves-{{post_class}} flex row nowrap align-content-center justify-content-start align-items-center">{{> "elvatrina" heading="Cake" section="cake"}}</section>
<section class="shelves-{{post_class}} flex row nowrap align-content-center justify-content-start align-items-center">{{> "elvatrina" heading="Pies" section="fatayer"}}</section>
<section class="shelves-{{post_class}} flex row nowrap align-content-center justify-content-start align-items-center">{{> "elvatrina" heading="Open buffet" section="buffet"}}</section>
<section class="shelves-{{post_class}} flex row nowrap align-content-center justify-content-start align-items-center">{{> "elvatrina" heading="News and updates" section="news"}}</section>
<footer class="goodbye-{{post_class}}">
    TO-DO
</footer>
{{#contentFor "head_scripts"}}{{/contentFor}}
{{#contentFor "foot_scripts"}}{{/contentFor}}
{{/is}}