{{!< default}}  
<!-- post.hbs -->
{{#post}}
<h1 title="{{title}}">{{title}}</h1>
{{#if custom_excerpt}}<p>{{custom_excerpt}}</p>{{/if}}
{{#if feature_image}}<figure title="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" style='--img-src: url("{{img_url feature_image}}");' class="zawake-post-figure fixed-img">{{#if feature_image_caption}}<figcaption>{{feature_image_caption}}</figcaption>{{/if}}</figure>{{/if}}
<div class="zawake-post-metadata flex row nowrap align-content-center justify-content-center align-items-center">{{#if featured}}<span title="{{t "Featured"}}">{{> "icons/fire"}}&nbsp;{{t "Featured"}}</span>{{/if}}{{#primary_tag}}<span>&bull;</span><a href="{{url absolute='true'}}" target="_self" title="{{name}}">{{name}}</a>{{/primary_tag}}<span>&bull;</span><time datetime="{{date format='YYYY-MM-DD'}}" title="{{date updated_at}}">{{date updated_at}}</time><span>&bull;</span><span>{{reading_time minute=(t "Only a minute") minutes=(t "Takes % minutes")}}</span></div>
<article class="zawake-{{post_class}} flex column nowrap align-content-center justify-content-center align-items-stretch">
    <header class="zawake-post-heading">
        <h1 title="{{title}}">{{title}}</h1>
        <ul>
            {{#foreach authors}}
            {{#if profile_image}}
            <a href="{{url absolute='true'}}" title="{{name}}" target="_self"><img src="{{img_url profile_image}}" alt="{{name}}" class="zawake-post-profile-avatar fixed-img" /></a>
            {{else}}
            <a href="{{url absolute='true'}}" title="{{name}}" target="_self">{{> "icons/avatar"}}</a>
            {{/if}}
            {{/foreach}}
        </ul>
    </header>
    <section>{{content}}</section>
    {{#if comments}}<section>
        <h3>{{t "Discussion"}}<span class="sep-left">{{> "icons/discussion"}}</span></h3>
        <h6>{{> "icons/keyboard"}}&nbsp;{{{t "Before leaving a comment, please read our {link}{second}{third}{second}{last}" link="<a href=\"/guides/\" title=\"" second=(t "Community guidelines") third="\">" last="</a>"}}}{{> "icons/writing-hand"}}&period;</h6>
        <div>{{comment_count empty=(t "No comments") singular=(t "comment") plural=(t "comments") autowrap="div" class="comments-style"}}</div>
        <div>{{comments title=(t "Join the members discussion below&colon;") count=false mode="auto" saturation=80}}</div>
    </section>{{/if}}
    <section>{{> "post-pagination"}}</section>
    <section class="zawake-post-subscribe flex column nowrap align-content-center">{{> "members-form"}}</section>
</article>
{{#contentFor "head_scripts"}}{{/contentFor}}
{{#contentFor "foot_scripts"}}{{/contentFor}}
{{/post}}