{{!< default}}
<!-- author.hbs -->
{{#is "author"}}
{{#author}}
{{#if cover_image}}
<div class="post-card-image-link">
    {{!-- This is a responsive image, it loads different sizes depending on device
    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
    <img class="post-card-image"
        srcset="{{img_url cover_image size="s"}} 300w,
                {{img_url cover_image size="m"}} 600w,
                {{img_url cover_image size="l"}} 1000w,
                {{img_url cover_image size="xl"}} 2000w"
        sizes="(max-width: 1000px) 400px, 800px"
        src="{{img_url cover_image size="m"}}"
        alt="{{title}}"
    />
</div>
{{/if}}
<header>
    {{#if profile_image}}<img src="{{img_url profile_image}}" alt="{{name}}'s Picture" />{{/if}}
</header>
<section class="author-profile">
    <h1 class="author-title">{{name}}</h1>
    {{#if bio}}<h2 class="author-bio">{{bio}}</h2>{{/if}}
    <div class="author-meta">
        {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
    </div>
    <footer class="author-profile-footer">
        {{#if location}}<div class="author-profile-location">{{location}}</div>{{/if}}
        <div class="author-profile-meta">
            {{#if website}}
                <a class="author-profile-social-link" href="{{website}}" target="_blank" rel="noopener">{{website}}</a>
            {{/if}}
            {{#if twitter}}
                <a class="author-profile-social-link" href="{{twitter_url}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
            {{/if}}
            {{#if facebook}}
                <a class="author-profile-social-link" href="{{facebook_url}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}
        </div>
    </footer>
</section>
{{/author}}
<section class="author-loop">
    {{#foreach posts}}{{> "loop"}}{{/foreach}}
</section>
{{pagination}}
{{/is}}