{{!< default}}
<!-- home.hbs -->
{{#is "home"}}
{{#if @site.cover_image}}<figure class="flexy site-cover" title="{{@site.title}}" style="background-image: url({{@site.cover_image}});">
    <img src="{{@site.cover_image}}" alt="{{@site.title}}" loading="lazy" />
</figure>{{/if}}
<header class="flexy main-header">
    <h1 class="site-title">{{@site.title}}</h1>
    {{#if @site.description}}<h2 class="site-description">{{@site.description}}</h2>{{/if}}
</header>
{{> "featured"}}
{{> "clients"}}
{{> "vehicles"}}
{{> "form-book-now"}}
{{> "loop"}}
{{/is}}