{{!< default}}
<!-- index.hbs -->
{{#is "index"}}
<header>
    <h1 class="page-title">{{@site.title}}</h1>
    {{#if @site.description}}<h2 class="page-description">{{@site.description}}</h2>{{/if}}
</header>
{{!-- This is a responsive image, it loads different sizes depending on device
https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
{{#if @site.cover_image}}<img class="site-header-cover" srcset="{{img_url @site.cover_image size="s"}} 300w, {{img_url @site.cover_image size="m"}} 600w, {{img_url @site.cover_image size="l"}} 1000w, {{img_url @site.cover_image size="xl"}} 2000w" sizes="100vw" src="{{img_url @site.cover_image size="xl"}}" alt="{{@site.title}}" />{{/if}}
{{#foreach posts}}<article class="{{post_class}}">
    <header class="post-header">
        <h2><a type="text/html" href="{{url}}" target="_top">{{title}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a href="{{url}}" type="text/html" target="_top" class="read-more">Continue reading&hellip;</a></p>
    </section>
    <footer class="post-meta">
        {{#if primary_author.profile_image}}<img src="{{primary_author.profile_image}}" alt="Author image" />{{/if}}
        {{primary_author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
</article>{{/foreach}}
{{pagination}}
{{/is}}