{{!< default}}
<!-- post.hbs -->
{{#is "post"}}
{{#post}}
<article class="post {{post_class}}">
    {{#match @page.show_title_and_feature_image}}<header class="post-header">
        <h1 class="post-title">{{title}}</h1>
        {{#if feature_image}}<figure class="post-image">
            <img srcset="{{img_url feature_image size='s'}} 300w, {{img_url feature_image size='m'}} 600w, {{img_url feature_image size='l'}} 1000w, {{img_url feature_image size='xl'}} 2000w" sizes="(min-width: 1400px) 1400px, 92vw" src="{{img_url feature_image size='xl'}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
            {{#if feature_image_caption}}<figcaption>{{feature_image_caption}}</figcaption>{{/if}}
        </figure>{{/if}}
        <section class="post-meta">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            {{tags prefix=" on "}}
            {{#if custom_excerpt}}<p class="article-excerpt">{{custom_excerpt}}</p>{{/if}}
        </section>
        <div class="article-tag post-card-tags">
            {{#primary_tag}}<span class="post-card-primary-tag"><a type="text/html" href="{{url}}" target="_top">{{name}}</a></span>{{/primary_tag}}
            {{#if featured}}<span class="post-card-featured">{{> "icons/fire"}} Featured</span>{{/if}}
        </div>
        <section class="article-byline-content">
            <ul class="author-list">
                {{#foreach authors}}<li class="author-list-item">
                    {{#if profile_image}}<a type="text/html" href="{{url}}" target="_top" class="author-avatar" aria-label="Read more of {{name}}"><img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" /></a>{{else}}<a type="text/html" href="{{url}}" target="_top" class="author-avatar author-profile-image" aria-label="Read more of {{name}}">{{> "icons/avatar"}}</a>{{/if}}
                </li>{{/foreach}}
            </ul>
            <div class="article-byline-meta">
                <h4 class="author-name">{{authors}}</h4>
                <div class="byline-meta-content">
                    <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                    {{#if reading_time}}<span class="byline-reading-time"><span class="bull">&bull;</span> {{reading_time}}</span>{{/if}}
                </div>
            </div>
        </section>
    </header>{{/match}}
    <section class="post-content">
        {{content}}
    </section>
    {{> "discussion"}}
    {{> "loop-services"}}
</article>
{{> "cta-signup"}}
{{#contentFor "scripts"}}<script type="text/javascript">
    // FitVids - Makes video embeds responsive
    $(document).ready(() => $(".gh-content").fitVids());
    console.log("Hello from post.hbs!");
</script>{{/contentFor}}
{{/post}}
{{/is}}
{{> "footer"}}