{{!< default}}
<!-- tag.hbs -->
{{#is "tag"}}
{{#tag}}
<header>
    {{#if feature_image}}<img src="{{feature_image}}" alt="{{name}}" />{{/if}}
</header>
<section class="author-profile">
    <h1>{{name}}</h1>
    {{#if description}}<h2>{{description}}</h2>{{else}}<p>A collection of {{plural ../pagination.total empty='zero posts' singular='% post' plural='% posts'}}</p>{{/if}}
</section>
{{/tag}}
<section class="flexy loop">
    <h2>Tag posts&colon;</h2>
    <hr />
    {{> "loop"}}
</section>
{{> "fly-buttons"}}
{{> "cookies"}}
{{/is}}
{{!--

tags
https://ghost.org/docs/themes/helpers/tags/

# List of Attributes

id - the incremental ID of the tag
name - the name of the tag
slug - slugified version of the name (used in urls and also useful for class names)
description - a description of the tag
feature_image - the cover image for the tag
meta_title - the tag’s meta title
meta_description - the tag’s meta description
url - the web address for the tag’s page
accent_color - the accent color of the tag

# Usage:
{{tags}} or {{#foreach tags}}{{/foreach}} in tag.hbs you can use {{#tag}}{{/tag}} to access tag properties

# Also:
{{#primary_tag}}
{{#post}}{{#if tags}}{{#foreach tags}}

--}}