{{!< default}}
<!-- home.hbs -->
{{#is "home"}}
<hgroup class="flexy main-header{{#if @site.cover_image}} apply-full-cover" style="{{#if @site.accent_color}}--cover-color: {{@site.accent_color}}; {{/if}}--cover-url: url({{img_url @site.cover_image}});"{{else}}"{{/if}} title="{{@site.title}}">
    <h1 id="title">{{@site.title}}</h1>
    {{#if @site.description}}<h2 id="description" class="site-description">{{@site.description}}</h2>{{/if}}
    <h3>Have a plumbing issue&quest;</h3>
    <h4>Contact our 24-hour emergency service, available every day of the week.</h4>
    <p class="flexy"><a href="tel:+447773222722" title="Call us&excl;" target="_blank"><button type="button" class="btn btn-fill">{{> "icons/phone"}}<span>0777&dash;3222&dash;722</span></button></a></p>
</hgroup>
{{> "who-we-are"}}
{{> "loop-services"}}
{{> "loop-areas"}}
{{> "loop-partners"}}
{{> "cta-signup"}}
{{> "testimonials"}}
{{> "footer"}}
{{#contentFor "scripts"}}<script type="text/javascript">
    // FitVids - Makes video embeds responsive
    $(document).ready(() => $(".gh-content").fitVids());
    // console.log("Hello from home.hbs!");
</script>{{/contentFor}}
{{> "fly-buttons"}}
{{> "cookies"}}
{{/is}}