<!-- partials/clients.hbs -->
<section class="flexy outer-clients">
    <ul class="flexy row inner-clients">
        <li><a href="https://www.tesco.com/" title="Tesco" target="_blank" rel="noopener">{{> "clients/tesco"}}</a></li>
        <li><a href="https://www.sofinafoods.com/" title="Sofina Foods" target="_blank" rel="noopener"><img src="{{asset 'images/essentials/clients/sofina-foods.jpg'}}" alt="Optimal Technologies" loading="lazy" class="image-transparent" /></a></li>
        <li><a href="https://www.optimal-technologies.com/" title="Optimal Technologies" target="_blank" rel="noopener"><img src="{{asset 'images/essentials/clients/optimal-technologies.png'}}" alt="Optimal Technologies" loading="lazy" /></a></li>
        <li><a href="https://www.shiseido.co.uk/gb/en/" title="Shiseido" target="_blank" rel="noopener">{{> "clients/shiseido"}}</a></li>
        <li><a href="https://www.roche.com/" title="Roche" target="_blank" rel="noopener">{{> "clients/roche"}}</a></li>
        <li><a href="https://www.titantravel.co.uk/" title="Titan Travel" target="_blank" rel="noopener"><img src="{{asset 'images/essentials/clients/titan-travel.png'}}" alt="Titan Travel" loading="lazy" /></a></li>
        <li><a href="https://ecobat.com/our-business/ecobat-resources/" title="Ecobat Resources" target="_blank" rel="noopener"><img src="{{asset 'images/essentials/clients/ecobat-resources.png'}}" alt="Ecobat Resources" loading="lazy" /></a></li>
        <li><a href="https://www.saga.co.uk/" title="Saga" target="_blank" rel="noopener">{{> "clients/saga"}}</a></li>
        <li><a href="https://www.sika.com/" title="Sika Group" target="_blank" rel="noopener">{{> "clients/sika"}}</a></li>
        <li><a href="https://www.herts.ac.uk/" title="University of Hertfordshire" target="_blank" rel="noopener">{{> "clients/university-of-hertfordshire"}}</a></li>
        <li><a href="https://groundscope.co.uk/" title="GroundScope" target="_blank" rel="noopener"><img src="{{asset 'images/essentials/clients/groundscope.png'}}" alt="GroundScope" loading="lazy" class="image-transparent" /></a></li>
        <li><a href="https://www.bridehalldevelopments.co.uk/" title="Bride Hall Developments" target="_blank" rel="noopener">{{> "clients/bride-hall-developments"}}</a></li>
        <li><a href="https://glencar.com/" title="Glencar Construction" target="_blank" rel="noopener">{{> "clients/glencar"}}</a></li>
        <li><a href="https://www.ashurst.com/" title="Ashurst" target="_blank" rel="noopener">{{> "clients/ashurst"}}</a></li>
        <li><a href="https://www.jeol.com/" title="JEOL Ltd." target="_blank" rel="noopener">{{> "clients/jeol"}}</a></li>
    </ul>
</section>