<!-- partials/cta-signup.hbs -->
{{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
{{#if @site.members_enabled}}{{#unless @member}}{{#unless @site.comments_enabled}}{{#if access}}<section class="flexy modal cta">
    <h2>Subscribe to our web app&excl;</h2>
    <p>It&apos;s completely free&period; No spam ever&period; You can unsubscribe anytime&period;</p>
    <hr />
    <p class="flexy row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum saepe aliquid sit consequatur voluptate qui ad, nihil explicabo, eos maiores quasi neque nesciunt incidunt. Delectus explicabo laboriosam minus veniam repellat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam suscipit, quisquam itaque quod dolor rem officiis illo sint eaque. Debitis, ullam? Minima culpa maxime temporibus voluptatum, officiis magni numquam debitis.</p>
    <dialog open="open" aria-modal="false">
        <h3 title="Please fill out the form below">Please fill out the form below&hellip;</h3>
        {{!-- <button type="button" title="Close" autofocus="autofocus" formnovalidate="formnovalidate" aria-label="Close" value="Cancel">&cross; Close</button> --}}
        <form class="flexy" onsubmit="return validateForm();" action="." method="post" enctype="multipart/form-data" autocomplete="on" spellcheck="false" accept-charset="utf-8" target="_top" rel="opener" data-members-form="subscribe">
            {{> "form-validity"}}
            <fieldset class="flexy">
                <legend class="flexy"><h4>Subscribe to our newsletters</h4></legend>
            </fieldset>
            <fieldset class="flexy row">
                <label for="cta-signup-name" title="Name" class="flexy"><span aria-label="required">*</span><strong>Name</strong><input type="text" name="name" id="cta-signup-name" placeholder="Your full name" autocomplete="name" pattern="[A-Za-z ]*" maxlength="70" required="required" aria-required="true" data-members-name="" /></label>
                <label for="cta-signup-email" title="Email" class="flexy"><span aria-label="required">*</span><strong>Email</strong><input type="email" name="email" id="cta-signup-email" placeholder="Your email address" autocomplete="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" minlength="8" required="required" aria-required="true" data-members-email="" /></label>
            </fieldset>
            <fieldset class="flexy">
                {{#get "newsletters"}}{{#foreach newsletters}}<label for="{{slug}}" title="{{name}}" class="flexy row"><input type="checkbox" id="{{slug}}" value="{{name}}" checked="checked" data-members-newsletter="" />{{name}}</label>{{/foreach}}{{/get}}
                <input type="hidden" value="Early visitors" data-members-label="" />
            </fieldset>
            <fieldset class="flexy row controls">
                <p class="flexy row required-fields" title="Required fields">Required fields</p>
                <div class="flexy">
                    <label for="cta-signup-terms-conditions" title="I have read and agreed with the terms &amp; conditions&period;" class="flexy row"><span aria-label="required">*</span><input type="checkbox" id="cta-signup-terms-conditions" name="tandc" value="agree" required="required" aria-required="true" /><span>I have read and agreed with the <a href="/terms-and-conditions/" title="terms and conditions">terms &amp; conditions</a>&period;</span></label>
                    <div class="flexy row">
                        <input type="submit" value="Subscribe" title="Subscribe now" />
                        <input type="reset" value="Reset" title="Reset" />
                    </div>
                </div>
            </fieldset>
            <pre>By completing this form&comma; you consent to receiving email updates from {{@site.title}}&period; Your details won&apos;t be shared with other organisations and you can opt out of receiving emails at any time using the unsubscribe link at the bottom of each email&period; For more information on our privacy practices and commitment to protecting your privacy&comma; read our <a href="/privacy-policy/" title="Privacy policy">Privacy policy</a>&period;</pre>
        </form>
    </dialog>
</section>
{{/if}}
{{/unless}}
{{> "portal-links"}}
{{/unless}}
{{/if}}