<!-- partials/footer.hbs -->
<footer class="flexy row site-footer">
    <section class="flexy">
        <div class="flexy general-enquiries">
            <p>Elevate your transportation experience with Elite Drivers Hertfordshire. Book your journey today and indulge in the luxury, comfort, and professionalism that define us. Your destination awaits, and we're here to take you there in style.</p>
            <h3>General enquiries</h3>
            <ul class="flexy ">
                <li class="flexy row"><strong>Call center&colon;</strong><a href="tel:01707527111" target="_blank">01707 527 111</a></li>
                <li class="flexy row"><strong>Email&colon;</strong><a href="mailto:office@elitedrivershertfordshire.co.uk" target="_blank">office&commat;elitedrivershertfordshire&period;co&period;uk</a></li>
                <li class="flexy row"><strong>Address&colon;</strong><address>12 Longcroft Gardens,<br />Welwyn Garden City AL8 6JR,<br />United Kingdom<br /><a href="https://maps.app.goo.gl/79K8LJX48rSS1Br77" title="Google Maps" target="_blank">Google Maps</a></address></li>
            </ul>
        </div>
        {{> "social-media"}}
    </section>
    <section class="flexy">            
        <figure class="flexy">
            <a href="{{@site.url}}" title="{{@site.title}}"><img src="{{asset 'images/essentials/ed-blue-green.png'}}" alt="{{@site.title}}" loading="lazy" /></a>
            <figcaption>&copy; {{date format="YYYY"}}</figcaption>
        </figure>
        {{navigation type="secondary"}}
        <div class="flexy row">
            <a href="https://ghost.org/" title="Powered by Ghost" target="_blank" rel="noopener">Powered by Ghost</a>
            <a href="/ghost/#/dashboard" title="Customise Ghost" target="_blank">Customise Ghost</a>
        </div>
    </section>
</footer>