<!-- partials/footer.hbs -->
<footer class="flexy site-footer">
    <header class="flexy">
        <figure class="flexy">
            <a href="{{@site.url}}" title="{{@site.title}}"><img src="{{asset 'images/essentials/ed-blue-green.png'}}" alt="{{@site.title}}" loading="lazy" /></a>
        </figure>
        <div class="flexy">
            <strong class="flexy row"><span>{{@site.title}}</span></strong>
            {{#if @site.description}}<small class="flexy row">{{@site.description}}</small>{{/if}}
            <small class="flexy row"><span>Timezone&colon;</span><strong>{{@site.timezone}}</strong></small>
        </div>
    </header>
    {{> "social-media"}}
    {{> "general-enquiries"}}
    {{navigation type="secondary"}}
</footer>