<!-- partials/header.hbs --> 
<ol class="flashing-bg">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ol>
<header id="site-header" class="flexy row site-header">
    {{#if @site.logo}}<figure class="flexy site-logo">
        <a href="{{@site.url}}" title="{{@site.title}}"><img src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" loading="lazy" /></a>
    </figure>{{else}}<a href="{{@site.url}}">{{@site.title}}</a>{{/if}}   
    {{navigation}}
</header>