<!-- partials/navigation.hbs -->
{{#if isSecondary}}<section class="flexy">
    <ul class="flexy row secondary-nav" role="menu">
        {{#foreach navigation}}<li class="flexy row {{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}">{{label}}</a></li>{{/foreach}}
        <!--li class="flexy row" role="menuitem"><a href="https://ghost.org/" title="Powered by Ghost" target="_blank" rel="noopener">Powered by Ghost</a></li-->
        <li class="flexy row" role="menuitem"><a href="/ghost/#/dashboard" title="Customise Ghost" target="_blank">Customise Ghost</a></li>
    </ul>
    <small class="flexy row"><span>&copy;</span><span>{{date format="YYYY"}}</span><span>{{@site.title}}&period;</span><span>All Rights Reserved&period;</span></small>
</section>{{else}}<nav class="flexy row site-navigation">
    <ul class="flexy row primary-nav" role="menu">
        {{#foreach navigation}}<li class="flexy row {{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem">
            <a type="text/html" href="{{url absolute='true'}}" title="{{label}}" target="_top"><span>{{label}}</span></a>
        </li>{{/foreach}}
    </ul>
</nav>
{{> "nav-extra"}}{{/if}}