<!-- partials/navigation.hbs -->
{{#if isSecondary}}<section class="flexy">
    <ul class="flexy row secondary-nav" role="menu">
        {{#foreach navigation}}<li class="flexy row {{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}">{{label}}</a></li>{{/foreach}}
        <li class="flexy row" role="menuitem"><a href="/ghost/#/dashboard" title="Customise Ghost" target="_blank">Customise Ghost</a></li>
    </ul>
    <small class="flexy row"><span title="Copyright">&copy;</span><span>2013 &dash; {{date format="YYYY"}}</span><strong>{{@site.title}} Ltd&period;</strong><span>All Rights Reserved&period;</span></small>
    <small class="flexy row"><a href="https://ghost.org/" title="Powered by Ghost" target="_blank" rel="noopener">{{> "icons/ghost"}}</a><a href="https://servex.business/" title="Developed by ServEx" target="_blank" rel="noopener">{{> "icons/servex"}}</a></small>
</section>{{else}}<nav class="flexy row site-navigation">
    <ul class="flexy primary-nav" role="menu">
        <li class="flexy row" aria-label="Close"><button type="button" title="Close" autofocus="autofocus">&cross; Close</button></li>
        {{#foreach navigation}}<li class="flexy row {{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem">
            <a href="{{url absolute='true'}}" title="{{label}}" target="_top"><span>{{label}}</span></a>
        </li>{{/foreach}}
    </ul>
</nav>
{{> "nav-extra"}}{{/if}}